* {
  box-sizing: border-box; 
}

body {
  width: 100%;
  margin: 0;
  padding: 0; 
}

.conteneur-1 {
  margin: auto;
  width: 11.5%;
  box-sizing: border-box; 
}

.conteneur-2 {
  margin: auto;
  width: 24%;
  box-sizing: border-box; 
}

.conteneur-3 {
  margin: auto;
  width: 36.5%;
  box-sizing: border-box; 
}

.conteneur-4 {
  margin: auto;
  width: 49%;
  box-sizing: border-box; 
}

.conteneur-5 {
  margin: auto;
  width: 61.5%;
  box-sizing: border-box; 
}

.conteneur-6 {
  margin: auto;
  width: 74%;
  box-sizing: border-box; 
}

.conteneur-7 {
  margin: auto;
  width: 86.5%;
  box-sizing: border-box; 
}

.conteneur-8 {
  margin: auto;
  width: 99%;
  box-sizing: border-box; 
}

.ligne:before,
.ligne:after {
  display: table;
  clear: both;
  margin: auto; 
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8 {
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  /*Des couleurs pour vous guider
  background-color: #33CCFF;*/ 
}

.col-1 {
  width: 11.5%; 
}

.col-2 {
  width: 24%; 
}

.col-3 {
  width: 36.5%; 
}

.col-3 {
  width: 36.5%; 
}

.col-4 {
  width: 49%; 
}

.col-5 {
  width: 61.5%; 
}

.col-6 {
  width: 74%; 
}

.col-7 {
  width: 86.5%; 
}

.col-8 {
  width: 99%; 
}

/*
 * M E D I A  Q U E R Y
 */
@media screen and (max-width: 320px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .conteneur-1,
  .conteneur-2,
  .conteneur-3,
  .conteneur-4,
  .conteneur-5,
  .conteneur-6,
  .conteneur-7,
  .conteneur-8 {
    width: 99%; 
  } 
}
@media screen and (max-width: 480px) and (min-width: 321px) {
  .col-1 {
    width: 49%;
  }

  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .conteneur-1,
  .conteneur-2,
  .conteneur-3,
  .conteneur-4,
  .conteneur-5,
  .conteneur-6,
  .conteneur-7,
  .conteneur-8 {
    width: 99%; 
  } 
}

@media screen and (max-width: 600px) and (min-width: 481px) {
  .col-1 {
    width: 32.33333%; 
  }

  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .conteneur-1,
  .conteneur-2,
  .conteneur-3,
  .conteneur-4,
  .conteneur-5,
  .conteneur-6,
  .conteneur-7,
  .conteneur-8 {
    width: 99%; 
  } 
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .col-1, .col-3 {
    width: 24%; 
  }

  .col-2 {
    width: 49%; 
  }

  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .conteneur-1,
  .conteneur-2,
  .conteneur-3,
  .conteneur-4,
  .conteneur-5,
  .conteneur-6,
  .conteneur-7,
  .conteneur-8 {
    width: 99%; 
  } 
}
