/*
 * GRID DYNAMIQUE
 */

* {
  box-sizing: border-box; }

body {
	width: 100%;
  	margin: 0;
  	padding: 0; 
}

/*
 * Mettez ici le nombre de colonnes que vous voulez 
 * dans la page.
 */
  $nombre_colonnes : 8;

/*
 * Mettez ici la messure du padding entre chaque 
 * colonne (en pourcentage).
 */
  $margin : 0.5%;

/*
 *	Des opérations pour calculer la taille total de l'espace.
 *  C'est pour obtenir la messure d'une colonne 
 * (RIEN À FAIRE ICI).
 */
  $taille_nette : 100% - $margin * 2 * $nombre_colonnes;

/*
 * Obtenir la messure d'une colonne par rapport
 * au nombre de colonnes que vous voulez (RIEN À FAIRE ICI).
 */
  $une_colonne : $taille_nette / $nombre_colonnes;

/*
 * Function pour faire des calcules sur la messure 
 * d'une colonne (RIEN À FAIRE ICI).
*/

	/*
	 * @param $reference -> Pour signaler combien de colonnes
	 * 						je veux de largeur d'une nouvelle
	 *						colonne (par rapport à $une colonne).
	 * @return $largeur -> Largeur total de la nouvelle colonne.
	 */

@function largeurColonne($reference) {
	$margin_total : ($reference * $margin * 2) - $margin * 2;
	$largeur : $une_colonne * $reference + $margin_total;
	@return $largeur;
}

/*
 * Si nécessaire, ajouter le formate à chaque class
 * que vous ajoutez
 */
/*
 * Mixin pour le margin des conteneurs.
 * 
 * @param $mt pour le padding-top
 * @param $mb pour le padding-bottom
 */

@mixin margin_top_bottom($mt, $mb) {
	margin-top: $mt;
	margin-bottom: $mb;
}

@mixin margin_right_left {
	margin-right: $margin;
	margin-left: $margin;
}

/*
 * Mixin pour la configuration des conteneurs.
 * 
 * @param $lc pour la taille de chaque conteneur.
 */

@mixin conteneurs($lc) {
	margin: auto;
	width: largeurColonne($lc);
	box-sizing: border-box;
	clear: both;
	background-color: transparent;
}

.conteneur-1 { @include conteneurs(1);}
.conteneur-2 { @include conteneurs(2);}
.conteneur-3 { @include conteneurs(3);}
.conteneur-4 { @include conteneurs(4);}
.conteneur-5 { @include conteneurs(5);}
.conteneur-6 { @include conteneurs(6);}
.conteneur-7 { @include conteneurs(7);}
.conteneur-8 { @include conteneurs(8);}


.ligne:before,
.ligne:after {
    display: table ;
    clear: both;
    margin: auto;
}

/*
 * Des conteneurs pour ajouter des paddings
 * À configurer selon vos préferences.
 */
.col-1, 
.col-2, 
.col-3, 
.col-4, 
.col-5, 
.col-6,
.col-7, 
.col-8 {
    float: left;
	@include margin_right_left;
	@include margin_top_bottom(0.5%, 0.5%);
	background-color: transparent;
	/*Des couleurs pour vous guider*/
	/*background-color: #33CCFF;*/
}

.col-1 { width: largeurColonne(1); }
.col-2 { width: largeurColonne(2); }
.col-3 { width: largeurColonne(3); }
.col-3 { width: largeurColonne(3); }
.col-4 { width: largeurColonne(4); }
.col-5 { width: largeurColonne(5); }
.col-6 { width: largeurColonne(6); }
.col-7 { width: largeurColonne(7); }
.col-8 { width: largeurColonne(8); }

/*
 * M E D I A  Q U E R Y
 */

@media screen and (max-width: 320px) {
	$nombre_colonnes : 2;
	$taille_nette : 100% - $margin * 2 * $nombre_colonnes;
	$une_colonne : $taille_nette / $nombre_colonnes;

	@function largeurColonne($reference) {
		$margin_total : ($reference * $margin * 2) - $margin * 2;
		$largeur : $une_colonne * $reference + $margin_total;
		@return $largeur;
	}

	@mixin margin_right_left {
		margin-right: $margin;
		margin-left: $margin;
	}

	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.conteneur-1,
	.conteneur-2,
	.conteneur-3,
	.conteneur-4,
	.conteneur-5,
	.conteneur-6,
	.conteneur-7,
	.conteneur-8 {
		width: largeurColonne(2); 
	}
} 

@media screen and (max-width: 480px) and (min-width: 321px) {
	$nombre_colonnes :2;
	$taille_nette : 100% - $margin * 2 * $nombre_colonnes;
	$une_colonne : $taille_nette / $nombre_colonnes;

	@function largeurColonne($reference) {
		$margin_total : ($reference * $margin * 2) - $margin * 2;
		$largeur : $une_colonne * $reference + $margin_total;
		@return $largeur;
	}

	@mixin margin_right_left {
		margin-right: $margin;
		margin-left: $margin;
	}

	.col-1 {
		width: largeurColonne(1);
	}
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.conteneur-1,
	.conteneur-2,
	.conteneur-3,
	.conteneur-4,
	.conteneur-5,
	.conteneur-6,
	.conteneur-7,
	.conteneur-8 {
		width: largeurColonne(2); 
	}
}

@media screen and (max-width: 600px) and (min-width: 481px) {
	$nombre_colonnes :3;
	$taille_nette : 100% - $margin * 2 * $nombre_colonnes;
	$une_colonne : $taille_nette / $nombre_colonnes;

	@function largeurColonne($reference) {
		$margin_total : ($reference * $margin * 2) - $margin * 2;
		$largeur : $une_colonne * $reference + $margin_total;
		@return $largeur;
	}

	@mixin margin_right_left {
		margin-right: $margin;
		margin-left: $margin;
	}

	.col-1 {
		width: largeurColonne(1);
	}
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.conteneur-1,
	.conteneur-2,
	.conteneur-3,
	.conteneur-4,
	.conteneur-5,
	.conteneur-6,
	.conteneur-7,
	.conteneur-8 {
		width: largeurColonne(3); 
	}
}

@media screen and (max-width: 800px) and (min-width: 601px) {
	$nombre_colonnes : 4;
	$taille_nette : 100% - $margin * 2 * $nombre_colonnes;
	$une_colonne : $taille_nette / $nombre_colonnes;

	@function largeurColonne($reference) {
		$margin_total : ($reference * $margin * 2) - $margin * 2;
		$largeur : $une_colonne * $reference + $margin_total;
		@return $largeur;
	}

	@mixin margin_right_left {
		margin-right: $margin;
		margin-left: $margin;
	}

	.col-1, .col-3 {
		width: largeurColonne(1);
	}
	.col-2 {
		width: largeurColonne(2);
	}
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.conteneur-1,
	.conteneur-2,
	.conteneur-3,
	.conteneur-4,
	.conteneur-5,
	.conteneur-6,
	.conteneur-7,
	.conteneur-8 {
		width: largeurColonne(4); 
	}
}