html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: Arial;
    font-size: 14px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

small {
	color: #3D3D3D;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 3%;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

div {
}

p {
	margin-bottom: 3%;
}

blockquote, q {
	color: #1F1F1F;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
}

code {
	margin-top: 2%;
	margin-bottom: 2%;
	color: #1F1F1F;
}

pre {
	padding: 0;
	color: #1F1F1F;
}

kbd {
	background-color: #EEEEEE;
	border: solid;
	border-radius: 4px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border-width: 1px;
	border-color: #C2C2C2;
	font-weight: bold;
	color: #1F1F1F;
	line-height:2;
	box-shadow: 1px 1px 2px grey;
}

#menu {
	text-align: center;
	font-size: 18px;
	background-color: #000000;
	height: 10%;
}

nav {
	margin-bottom: 5%;
}

li {
	background-color: pink;
	padding-top: 2%;
	padding-bottom: 2%;
}

li:hover {
	background-color: red;
}

li#disc {
	list-style-type: disc;
}

li#square {
	list-style-type: square;
}

div#droit {
	text-align: right;
}

div#centre {
	text-align: center;
}

div#justify {
	text-align: justify;
}

#mayuscule {
	text-transform: uppercase;
}

#minuscule {
	text-transform: lowercase;
}

#capital {
    text-transform: capitalize;
}

.box {
	background-color: #CCFFCC;
	padding: 1%;
}

.box-radius {
	background-color: #CCFFCC;
	padding: 1%;
	border-radius: 10px;
}

.box-border {
	background-color: #CCFFCC;
	padding: 1%;
	border: solid;
	border-color: #B3FFB3;
}

.box-border-radius {
	background-color: #CCFFCC;
	padding: 1%;
	border: solid;
	border-color: #B3FFB3;
	border-radius: 10px;
}


@viewport { 
	width: device-width;
 	/* largeur du viewport */ 
	zoom: 1;
 	/* zoom initial 1.0 (et clin d'oeil aux fans d'IE6/7) */
}